html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*clases Utilitarias*/
.container {
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.btn-primary {
    color: white;
    background-color: #264653;
}

.btn-secondary {
    color: white;
    background-color: #2a9d8f;
}

.btn-danger {
    color: white;
    background-color: #e76f51;
}

.btn-info {
    color: black;
    background-color: #e9c46a;
}

.btn-dark {
    color: black;
    background-color: #f4a261;
}

/*Header*/
.bg-header {
    background-image: url('./img/fonddo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.75em;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1.5em 0;

}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}



.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 1rem;
}

@media(min-width: 768px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }

}

.navbar-brand img {
    width: 2em;

}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.733);
    padding: 1em;
    border-radius: 0.3em;


}

.nav-link {
    display: inline-block;
    padding: 00.3em;
    text-decoration: white;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 0.5em;

}

/*main*/
.main {
    background-color: white;
    margin-top: -2em;
    padding: 0.3em;
    border-radius: 0.5em;
}

.main-tilte {
    text-align: center;
    text-transform: uppercase;
}

/*Card*/
@media(min-width:768px) {
    .tienda {
        display: flex;
        gap: 1em;

    }
}

.card {
    background-color: #2a9d8f;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 200;
}

/*Nosotos*/
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.479);
}

.nosotros-col-img {
    background-image: url('./img/nostros.jpg');
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    order: 2;

}

.nosotros-col-text {
    order: 1;
}

@media(min-width: 768px) {
    .nosotros {
        flex-direction: row;

    }

}

@media(min-width:667) {
    .nosotros-col-img {
        height: 31.25em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

}

@media(min-width: 577px) {
    .nosotros-col-img {
        height: 31.25em;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}

@media(min-width: 576px) {
    .nosotros-col-img {
        height: 31.25em;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200;
}

/* FOOTER */
.bg-footer {
    background-color: #214037;
    color: #E2F2C9;
}

.bg-footer p {
    padding: 1em;
    margin: 0;
    text-align: center;
}
